/*controls the background color*/
body {
  background-color: rgba(255, 192, 203, 0.350);
}

/*Root allows the variables to be applied anywhere in the website when they are used.  Root creates the variable so it can be placed in the website*/
:root {
  --color-text: #646363;
  --size-text: 40px;
  --text-color: #000000;
  --text-size: 24px;
  
}

/*controls the text in the h1 section*/
h1 {
  color: var(--color-text);
  font-family: 'Charmonman', cursive;
  font-size: var(--size-text);
  text-align: center;
  padding-top: 50px;
}

/*controls the text in the p paragraph section*/
p {
  color: var(--text-color);
  font-family: 'Dela Gothic One', cursive;
  font-size: var(--text-size);
  text-align: center;
  padding-bottom: 50px;
}

/*controls the images*/
.img-Germany {
  width: 300px;
  margin-left: 600px;
  border-width: 15px; 
  border-style: solid;
  border-color: white;
}