/*controls the main body part of the website*/
body {
  background-color: rgb(233, 233, 233);
  font-family: sans-serif;
}

/*controls the background for the top part*/
section {
  height: 650px;   /*height of the plum background*/
  background-color: plum;
}

/*controls the navigation bar at the top.*/
nav {
  padding-top: 40px;
  align-items: center;
  height: 100px;   /*height of the white background*/
  background-color: #FFFFFF;
  padding-left: 20px;
}


/*controls the text of the contact us and home buttons in the navigation bar*/
nav ul li a {
  margin: 30px;
  font-family: monospace;
  color: #505050;
  font-size: 25px;
  padding-left: 50px;
}

/*controls the h5 paragraph.*/
.text h5 {
  font-family: 'Amatic SC', cursive;
  color: black;
  font-size: 40px;
  text-align: center;
}

/*controls the p paragraph.  */
.text p {
  font-family: 'Cinzel Decorative', cursive;
  color: #FFFFFF;
  font-size: 80px;
  padding-bottom: 50px;
  text-align: center;
}

/*controls the container that talks about who I am*/
.about {
  height: 270px;
  background-color: white;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 10px;
  font-family: 'Staatliches', cursive;
  font-size: 30px;
}

/*I used padding to place the five rectangles with the destinations towards the middle of the page*/
.travel {
  text-align: center;  /*aligns the text in the rectangles*/
  
}

.boxes {
  padding-top: 40px;     /*places the rectangles*/
  padding-left: 200px;
}


.boxes li {
  width: 1000px;  /*size of the rectangles*/
  height: 500px;
}

.rectangles {
  height: 100%; /*if this is not here the height of the five boxes will not be 500px*/
}

/*controls the five images and the text in the five travel destination boxes. */
.one-img {
  background: url(Italia-cover);
  background-repeat: no-repeat;  /*image in the background does not repeat*/
  background-size: cover;    /*covers the entire designated area*/
  font-family: 'Lobster', cursive;
  font-size: 50px;
}

.two-img {
  background: url(Monaco-cover);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lobster', cursive;
  font-size: 50px;
}

.three-img {
  background: url(Spain-cover);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lobster', cursive;
  font-size: 50px;
}

.four-img {
  background: url(Germany-cover);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lobster', cursive;
  font-size: 50px;
}

.five-img {
  background: url(Greece-cover);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lobster', cursive;
  font-size: 50px;
}

/*controls the survey*/
#title-survey {  /*this is an id and is not written between a h1 or p tag*/
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 30px;
  color: rgba(84, 180, 235, 0.712);
}

.survey {  /*this is an id and is not written between a h1 or p tag*/
  color: #000000;
  font-size: 20px;
  padding-top: 20px;
}

#survey-form {  /*this is an id and is not written between a h1 or p tag*/
  text-align: center;
  font-family: 'Do Hyeon', sans-serif;
}

/*This controls the survey position*/
.answer {  /*this is an id and is not written between a h1 or p tag*/
  text-align: center;
  padding-top: 10px;
}

.input {  /*this is an id and is not written between a h1 or p tag*/
  text-align: center;
  padding-top: 20px;
}

/*controls the survey text*/
h2 {
  color: rgba(84, 180, 235, 0.712);
  text-align: center;
  padding-top: 50px;
  font-size: 50px;
  font-family: 'Cinzel Decorative', cursive;
}

h3 {
  text-align: center;
  font-size: 30px;
  font-family: 'Do Hyeon', sans-serif;
  color: rgba(84, 180, 235, 0.712);
}